.skills-container {
  font-size: 1em;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  font-weight: bold;
  text-align: center;
  border: 2px solid rgb(71, 91, 120);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 5px;
  width: 300px;
  height: 200px;
  margin: 15px 15px 15px;
}

.heading {
  position: relative;
  margin: auto;
}

.skill .icon-holder>img.icon {
  width: 40px;
}

.skill .icon-holder {
  position: relative;
  top: 2em;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px;
  background: #ffffffee;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.skill:hover {
  border-color: #78ACD2

}

.skill:hover .icon-holder {
  top: -2em;
}

.skill:hover .heading {
  top: -2em;
}

.skill .description {
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.skill:hover .description {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.footer {
  margin: 2em;
}
